In [3]:
import pandas as pd

In [6]:
df_gc = pd.read_csv('Geospatial_Coordinates.csv')

In [9]:
df_gc.head(12)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849

In [10]:
!pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
Requirement already satisfied: six in c:\users\guanghui\anaconda3\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in c:\users\guanghui\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in c:\users\guanghui\anaconda3\lib\site-packages (from geocoder) (2.24.0)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: click in c:\users\guanghui\anaconda3\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\guanghui\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\guanghui\anaconda3\lib\site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\guanghui\anaconda3\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\guanghui\anaconda3\lib\site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: decorator in c:\users\guanghui\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [15]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [16]:
df = pd.read_csv('toronto.csv')
df.head()

,Postalcode,Borough,Neighborhood
0,\nM1ANot assigned\n\n,\nM2ANot assigned\n\n,M9AEtobicoke(Islington Avenue)
1,\nM1BScarborough(Malvern / Rouge)\n\n,\nM2BNot assigned\n\n,M9BEtobicoke(West Deane Park / Princess Garden...
2,\nM1CScarborough(Rouge Hill / Port Union / Hig...,\nM2CNot assigned\n\n,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3,\nM1EScarborough(Guildwood / Morningside / Wes...,\nM2ENot assigned\n\n,M9ENot assigned
4,\nM1GScarborough(Woburn)\n\n,\nM2GNot assigned\n\n,M9GNot assigned

In [13]:
print(df.shape)
df.describe()

(20, 3)

,Postalcode,Borough,Neighborhood
count,20,20,20
unique,20,20,20
top,\nM1WScarborough(Steeles West / L'Amoreaux Wes...,\nM2VNot assigned\n\n,M9GNot assigned
freq,1,1,1

In [17]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [18]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [19]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [20]:
df[df.Postalcode == 'M5G']

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [21]:
df.head(15)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,\nM1ANot assigned\n\n,\nM2ANot assigned\n\n,M9AEtobicoke(Islington Avenue),43.648690,-79.385440
1,\nM1BScarborough(Malvern / Rouge)\n\n,\nM2BNot assigned\n\n,M9BEtobicoke(West Deane Park / Princess Garden...,43.810230,-79.220380
2,\nM1CScarborough(Rouge Hill / Port Union / Hig...,\nM2CNot assigned\n\n,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...,43.789480,-79.176140
3,\nM1EScarborough(Guildwood / Morningside / Wes...,\nM2ENot assigned\n\n,M9ENot assigned,43.763430,-79.178200
4,\nM1GScarborough(Woburn)\n\n,\nM2GNot assigned\n\n,M9GNot assigned,43.767480,-79.228290
5,\nM1HScarborough(Cedarbrae)\n\n,\nM2HNorth York(Hillcrest Village)\n\n,M9HNot assigned,43.741672,-79.232538
6,\nM1JScarborough(Scarborough Village)\n\n,\nM2JNorth York(Fairview / Henry Farm / Oriole...,M9JNot assigned,43.738650,-79.216990
7,\nM1KScarborough(Kennedy Park / Ionview / East...,\nM2KNorth York(Bayview Village)\n\n,M9KNot assigned,43.648690,-79.385440
8,\nM1LScarborough(Golden Mile / Clairlea / Oakr...,\nM2LNorth York(York Mills / Silver Hills)\n\n,M9LNorth York(Humber Summit),43.698830,-79.279120
9,\nM1MScarborough(Cliffside / Cliffcrest / Scar...,\nM2MNorth York(Willowdale / Newtonbrook)\n\n,M9MNorth York(Humberlea / Emery),43.726420,-79.232970
10,\nM1NScarborough(Birch Cliff / Cliffside West)...,\nM2NNorth York(Willowdale)South\n\n,M9NYork(Weston),43.694720,-79.264600
11,\nM1PScarborough(Dorset Park / Wexford Heights...,\nM2PNorth York(York Mills West)\n\n,M9PEtobicoke(Westmount),43.735430,-79.297550
12,\nM1RScarborough(Wexford / Maryvale)\n\n,\nM2RNorth York(Willowdale)West\n\n,M9REtobicoke(Kingsview Village / St. Phillips ...,43.748600,-79.298020
13,\nM1SScarborough(Agincourt) \n\n,\nM2SNot assigned\n\n,M9SNot assigned,43.786260,-79.280840
14,\nM1TScarborough(Clarks Corners / Tam O'Shante...,\nM2TNot assigned\n\n,M9TNot assigned,43.786430,-79.301560

In [22]:
df.to_csv('toronto_part2.csv',index=False)